commands:
  01updateComposer:
    command: export COMPOSER_HOME=/root && /usr/bin/composer.phar self-update

option_settings:
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: COMPOSER_HOME
    value: /root
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: APP_KEY
    value: base64:CHANGEMECHANGEMECHANGEMECHANGEMECHANGEMECHA=
  - namespace: aws:elasticbeanstalk:container:php:phpini
    option_name: document_root
    value: /public
